@tailwind base;

/* Write your own custom base styles here */
html,
body {
  font-family: "Source Sans Pro", sans-serif;
}

.thumbs-wrapper {
  display: none;
}

.feather {
  display: inline;
}

.main {
  font-family: "EB Garamond", serif;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.nav {
  @apply text-white font-bold py-2 px-4 rounded;
}
.nav:hover {
  @apply bg-white text-black rounded-full py-2 px-4;
}
.logo {
  filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .7));
}
.map {
  @apply float-right w-1/2 h-64 ml-3 pb-3 text-center;
}
.map-inner {
  @apply shadow-md w-full h-full rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
