@tailwind base;

/* Write your own custom base styles here */
html,
body {
  font-family: "Source Sans Pro", sans-serif;
}

.logo {
  display: block;
  width: 150px;
}

.logo-sm {
  width: 100px;
}

.logo img {
  filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .7));
}

.hero {
  /* background-image: url(/images/hero2.jpg);
  background-blend-mode: overlay;
  background-position: center -100px; */
  height: 600px;
}
.hero-sm {
  height: 300px;
}

.thumbs-wrapper {
  display: none;
}

.main {
  font-family: "EB Garamond", serif;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.nav {
  @apply text-white font-bold py-2 px-4 rounded;
}
.nav:hover {
  @apply bg-white text-black rounded-full py-2 px-4;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
